<ion-view view-title="Gallery">
    <ion-content overflow-scroll="true">

        <div ng-include="'layout/menu.html'"/>

        <div class="wrapper">
            <div class="gallery-container">
                <div class="col-md-6">
                    <ul rn-carousel class="image detail_carousel" rn-carousel-index="slideIndex2">
                        <li ng-repeat="slide in data[0].field_image">
                            <div class="layer">
                                <img src="{{ slide.url }}">

                                <div class="text_in_carousel">
                                    <p> {{ slide.alt }} </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <div class="thumbs">
                        <div class="thumb" ng-repeat="slide in data[0].field_image"
                             ng-click="$parent.slideIndex2=$index"
                             ng-style="{'background-image': 'url(' + slide.url + ')'}"
                             ng-class="{'is-active': ($parent.slideIndex2==$index)}"></div>
                    </div>
                </div>

            </div>

        </div>

        <div id="footer" ng-include="'layout/footer.html'"/>

    </ion-content>
</ion-view>
