<ion-view view-title="Gallery">
    <ion-content overflow-scroll="true" class="gallery-detail">

        <div ng-include="'layout/menu.html'"/>

        <div class="wrapper">
            <div class="gallery-container">
                <div class="col-md-24 new-wrapper">
                    <ul rn-carousel class="image detail_carousel" rn-carousel-index="slideIndex2">
                        <li ng-repeat="slide in data[0].field_image">
                            <div class="layer new-layer">
                                <img src="{{ slide.url }}">

                                <div class="text_in_carousel">
                                    <p> {{ slide.alt }} </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="col-md-24 new-thumbs-wrapper">
                    <div class="new-thumbs">
                        <img ng-repeat="slide in data[0].field_image"
                             ng-click="$parent.slideIndex2=$index"
                             src={{slide.url}}
                             ng-class="{'is-active': ($parent.slideIndex2==$index)}">
                    </div>
                </div>
            </div>

        </div>


    </ion-content>
</ion-view>
