<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#/acasa">
                <div class="logo">
                    <div class="top-left-logo">
                        <img src="img/top_left_logo.png">
                    </div>
                </div>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/acasa">Acasa</a></li>
                <li><a href="#/galleries">Galleries</a></li>
                <li><a href="#/magazine">Magazine</a></li>
                <li><a href="#/colaboratori">Colaboratori</a></li>
                <li><a href="#/targ">Targuri de nunti</a></li>
                <li><a href="#/contact">Contact</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
