<ion-view view-title="Contact">
    <ion-content overflow-scroll="true" class="contact-page">

        <div ng-include="'layout/menu.html'"/>

        <div class="wrapper contact">

            <div class="contact-title col text-left">
                <h1>Contact</h1>
            </div>

            <div growl></div>

            <div class="col-md-6">

                <form name="daniel" ng-submit="save()">
                    <div class="list">
                        <label class="item item-input">
                            <input type="text" ng-model="user.nume" placeholder="Numele">
                        </label>
                        <label class="item item-input">
                            <input type="text"  ng-model="user.mail" placeholder="E-Mail">
                        </label>
                        <label class="item item-input">
                            <input type="text"  ng-model="user.subiect" placeholder="Subiect">
                        </label>
                        <label class="item item-input">
                            <textarea  ng-model="user.mesaj" placeholder="Mesaj"></textarea>
                        </label>
                        <button class="button button-block button-positive">Trimite</button>
                    </div>
                </form>

            </div>

            <div class="col-md-6">
                <div class="descriere">
                    <div class="item text-center">
                        <h4>CU NOI VISUL TAU SE VA IMPLINI!</h4>
                        <h4>TE ASTEPTAM!</h4>
                    </div>
                    <div class="descriere-text">
                        Pentru a ne contacta poti completa formularul din stanga sau apeland la numarul de telefon 0731325436.
                        De altfel ne puteti vizita la unul din cele doua magazine din Craiova, de pe strada Lipscani nr. 3 si 28.
                    </div>
                    <div class="descriere-text">
                        Elegance este brendul S.C. Iagny S.R.L. cu sediul: Com. Simnicu de Sus jud. Dolj.
                        j16/1063/2004 RO16474850
                    </div>
                    <div class="contact text-center">
                        <a target="_blank" href="http://www.mariagefest.ro">
                            <img src="img/banner-patrat.jfif">
                        </a>
                    </div>

                </div>


            </div>

        </div>

        <div id="footer" ng-include="'layout/footer.html'"/>

    </ion-content>
</ion-view>
